@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #181a1b;
    color: white;
}

.erase-button{
    background-color: #2C2F31;
    color: white;
    border-radius: 5px;
    padding: 7px;
    border: none;
    cursor: pointer;
}